<% stylesheet "feeds" %>
<% javascript "feeds" %>

<div class="feeds">

  <% @feeds.each do |feed| %>
    <div class="feed">

      <%= render :partial => "feeds/div_feed", :locals => { :feed => feed } %>

      <% unless feed.comments.blank? %>

        <div class="comments">
          <h3 class="subtitle">Comments</h3>

          <% feed.comments.each do |comment| %>
            <div class="comment">
              <%= render :partial => "feeds/div_comment", :locals => { :feed => comment } %>
            </div>
          <% end %>

        </div>

      <% end %>

    </div>

  <% end %>

  <div class="paginate">
    <%= will_paginate @feeds %>
  </div>

</div>
