.DS_Store
log/*.log
log/*
tmp/**/*
config/database.yml
config/database.mongo.yml
config/initializers/paperclip.rb
db/schema.rb

lib/log/*
public/flvs/**/*
public/_files/**/*
upload/**/*

script/cronjob.sh

test/log/*
solr/**/*
